/* Navigation Container */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: white;
  width: 100%;
  /* padding-bottom: 0%; */
  font-size: 15px;
  font-weight: bold;
  /* color: #191919; */
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bell-icon{
  padding-left: 450px;
}

.bi-sliders{
  padding-right: 10px;
  padding-top: 2px;
  color: gray;
}
.flex {
  margin: auto;
  padding-left: 0.5rem;
  padding-top: 0%;
  padding-bottom: 0%;
}

.navigation-elements  ul {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 0;
  position: relative;
  justify-content: center;
  align-items: center;
}

.img {
  list-style: none;
}

.logo {
  width: 100px;
  margin-right: 0.5rem;
}

.logo_page {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  padding: auto;
  margin: auto;
  list-style: none;
}

.element-btn{
  padding: 25px;
}
.logo_page button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  list-style: none;
}

.logo_page button:hover {
  border-bottom: 2px solid #191919; /* Change the color on hover */
}

.pro-button {
  font-size: 4px;
  font-weight: bold;
  color: white;
  background-color: #1e3a8a;
  padding: 2px 8px;
  border-radius: 12px;
  text-transform: uppercase;
}
.behance-text{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 25px;

}

.log-in-button {
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1.25rem;
  border: 1px solid #ccc;
  background-color: white;
  color: #0057ff;
  border-radius: 999px;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
}

.log-in-button:hover {
  background-color: #f0f0f0;
}

.sign-up-button {
  margin-top: 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  color: white;
  background-color: #0057ff;
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid  #0057ff;
}

.sign-up-button:hover {
  background-color: #1e3a8a;
}

/* .adobe-button {
  display: flex;
  align-items:start;
  justify-content: space-between;
} */

.adobe-image {
  width: auto;
  height: 20px;
  bottom: 50px;
  /* margin-top: 15px; */
}


.adobe {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
  padding-left: 7px;
  font-size: 13px;
}

.whole-container {
  position: fixed;
  background-color: white;
  width: 100%;
  margin-top: auto;
  z-index: 1000; /* Ensure the navbar is on top */
  padding: 0%;
}
